@import url("https://fonts.googleapis.com/css?family=Orbitron:400,700&display=swap");

/* APP VARIABLES */
:root {
  /* background colors */
  --calculator-background-color: #696969;
  --display-background-color: #1d1f1f;
  --action-key-color: #545454;
  --action-key-color-hover: #696969;
  --number-key-color: #1d1f1f;
  --number-key-color-hover: #3f3f3f;
  --submit-key-color: #d18800;
  --submit-key-color-hover: #aa6e00;

  /* font */
  --main-font: "Orbitron", sans-serif;

  /* font colors */
  --display-text-color: #23e000;
  --key-text-color: #d3d3d3;

  /* font sizes */
  --display-text-size: 4em;
  --key-text-size: 3em;

  /* fonts weights */
  --display-text-weight: 400;
  --key-text-weight: 700;

  /* calculator dimensions */
  --calculator-height: 72%;
  --calculator-width: 36%;

  /* display dimensions */
  --display-height: 24%;
  --display-width: 100%;

  /* keypad dimentions */
  --keypad-height: 72%;
  --keypad-width: 100%;
}

/* MEDIA QUERY for tablet or smaller screen */

@media screen and (max-width: 1024px) {
  :root {
    /* font sizes */
    --display-text-size: 10em;
    --key-text-size: 6em;

    /* calculator dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

/* APP CSS RESET */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}
